version: "3.8"

services:
  # MySQL 数据库
  mysql:
    image: mysql:8.0
    container_name: blog-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - blog-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 后端服务
  backend:
    image: ${DOCKER_USERNAME}/blog-backend:latest
    container_name: blog-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      PORT: 3000
      # MinIO 配置
      MINIO_ENDPOINT: minio
      MINIO_PORT: ${MINIO_PORT}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_BUCKET: ${MINIO_BUCKET}
      MINIO_USE_SSL: false
    depends_on:
      mysql:
        condition: service_healthy
      minio:
        condition: service_healthy
    networks:
      - blog-network
    volumes:
      - ./yjl-blog-backend-demo/uploads:/app/uploads

  # MinIO 对象存储服务
  minio:
    image: minio/minio:latest
    container_name: blog-minio
    restart: always
    ports:
      - "9000:9000" # API 端口
      - "9001:9001" # 控制台端口
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - blog-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  # 前端服务
  frontend:
    image: ${DOCKER_USERNAME}/blog-frontend:latest
    container_name: blog-frontend
    restart: always
    ports:
      - "80:80"
    environment:
      VITE_MINIO_ENDPOINT: ${VITE_API_BASE_URL}
      VITE_MINIO_PORT: ${MINIO_PORT}
      VITE_MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      VITE_MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      VITE_MINIO_BUCKET: ${MINIO_BUCKET}

    depends_on:
      - backend
    networks:
      - blog-network

networks:
  blog-network:
    name: blog-demo_blog-network
    driver: bridge

volumes:
  mysql_data:
  minio_data:
