:root {
  --menu-font-size: 20px;
  --header-length: 1600px;
  --header-height: 60px;
  --title-font-size: 40px;

  // 表格相关样式
  --table-first-column_width: 100px;
  --table-second-column_width: 400px;

  // 覆盖Element-Plus默认变量
  // --el-font-size-base: 20px !important;
}
